<mat-card>
    <mat-card-title>Alterar - Usuário</mat-card-title>
    <hr />
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)] = "cliente.nome" name="nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CPF" [(ngModel)] = "cliente.cpf" name="cpf">
        </mat-form-field>
        <mat-form-field>
            <span matPrefix>+55 &nbsp;</span>
            <input type="tel" matInput placeholder="Telefone" [(ngModel)] = "cliente.telefone" name="telefone">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="E-MAIL" [(ngModel)] = "cliente.email" name="email">
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="Senha" [(ngModel)] = "cliente.senha" name="senha">
        </mat-form-field>
        <mat-form-field>
            <input type="date" matInput placeholder="Data de Nascimento" 
                    [(ngModel)] = "cliente.dtNascimento" name="dtNascimento">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateCliente()" color="warn">
        Alterar
    </button>
    
    <button mat-raised-button (click)="cancelCliente()">
        Cancelar
    </button>
</mat-card>
